In [1]:
import pandas as pd
import numpy as np

In [2]:
nums = [1,2,3,4,5]
s = pd.Series(nums)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
t = pd.Series(nums, index=[1,2,3,4,5])
print(t)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [4]:
# Creating Pandas series with custom index
fruits = ['Orange', 'Banana', 'Mango']
fruits = pd.Series(fruits, index=[1,2,3])
print(fruits)

1    Orange
2    Banana
3     Mango
dtype: object

In [5]:
# Creating Pandas Series from a dictionary
dct = {'name': 'Asabeneh', 'country':'Finland', 'city': 'Helsinki'}
s = pd.Series(dct)
print(s)

name       Asabeneh
country     Finland
city       Helsinki
dtype: object

In [6]:
# Creating a Constant Pandas Series

s = pd.Series(10, index=[1,2,3])
print(s)

1    10
2    10
3    10
dtype: int64

In [7]:
# Creating a Pandas Series Using Linspace

s = pd.Series(np.linspace(5, 20, 10))
print(s)

0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

In [8]:
# Pandas dataframes

# Creating DataFrames from a list of lists

data = [['Asabeneh', 'Finland', 'Helsink'], ['David', 'UK', 'London'], ['John', 'Sweden', 'Stockholm']]
df = pd.DataFrame(data, columns=['Names', 'Country', 'City'])
print(df)

      Names  Country       City
0  Asabeneh  Finland    Helsink
1     David       UK     London
2      John   Sweden  Stockholm

In [9]:
# Creating DataFrame using dictionary

data = {'Name': ['Asabeneh', 'David', 'John'], 'Country': ['Finland', 'UK', 'Sweden'], 'City' : ['Helsinki', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [10]:
# Creating DataFrame from a list of dictionaries
data = [{'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
        {'Name': 'David', 'Country': 'UK', 'City': 'London'},
        {'Name': 'John','City': 'Stockholm', 'Country': 'Sweden'}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [11]:
# Reading csv files using pandas

df = pd.read_csv('weight-height.csv')
print(df)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [12]:
print(df.head())

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [13]:
print(df.tail())

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

In [16]:
print(df.shape)

(10000, 3)

In [17]:
print(df.columns)

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [18]:
# Series of a column
heights = df['Height'] 
print(heights)

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [20]:
weights = df['Weight']
print(weights)

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [21]:
print(len(heights) == len(weights))

True

In [22]:
# give statistical information about height data
print(heights.describe())

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [23]:
print(weights.describe())

count    10000.000000
mean       161.440357
std         32.108439
min         64.700127
25%        135.818051
50%        161.212928
75%        187.169525
max        269.989699
Name: Weight, dtype: float64

In [24]:
print(df.describe())

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB
None

In [26]:
data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"},
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]

df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [27]:
weights = [74,78,69]
df['Wights'] = weights
print(df)

       Name  Country       City  Wights
0  Asabeneh  Finland   Helsinki      74
1     David       UK     London      78
2      John   Sweden  Stockholm      69

In [28]:
heights = [173,175,176]
df['Heights'] = heights
print(df)

       Name  Country       City  Wights  Heights
0  Asabeneh  Finland   Helsinki      74      173
1     David       UK     London      78      175
2      John   Sweden  Stockholm      69      176

In [29]:
df['Heights'] = df['Heights'] * 0.1
print(df)

       Name  Country       City  Wights  Heights
0  Asabeneh  Finland   Helsinki      74     17.3
1     David       UK     London      78     17.5
2      John   Sweden  Stockholm      69     17.6

In [30]:
df['Heights'] = df['Heights'] * 0.1
print(df)

       Name  Country       City  Wights  Heights
0  Asabeneh  Finland   Helsinki      74     1.73
1     David       UK     London      78     1.75
2      John   Sweden  Stockholm      69     1.76

In [31]:
def calculate_bmi():
    weights = df['Wights']
    heights = df['Heights']
    bmi = []
    for w, h in zip(weights, heights):
        b = w/(h*h)
        bmi.append(b)
    return bmi
bmi = calculate_bmi()
df['BMI'] = bmi

In [32]:
print(df)

       Name  Country       City  Wights  Heights        BMI
0  Asabeneh  Finland   Helsinki      74     1.73  24.725183
1     David       UK     London      78     1.75  25.469388
2      John   Sweden  Stockholm      69     1.76  22.275310

In [33]:
df['BMI'] = round(df['BMI'], 2)

In [34]:
print(df)

       Name  Country       City  Wights  Heights    BMI
0  Asabeneh  Finland   Helsinki      74     1.73  24.73
1     David       UK     London      78     1.75  25.47
2      John   Sweden  Stockholm      69     1.76  22.28

In [35]:
birth_year = ['1769', '1985', '1990']
current_year = pd.Series(2020, index=[0,1,2])
df['Birth Year'] = birth_year
df['Current Year'] = current_year
print(df)

       Name  Country       City  Wights  Heights    BMI Birth Year  \
0  Asabeneh  Finland   Helsinki      74     1.73  24.73       1769
1     David       UK     London      78     1.75  25.47       1985
2      John   Sweden  Stockholm      69     1.76  22.28       1990

   Current Year
0          2020
1          2020
2          2020

In [36]:
print(df.Wights.dtype)

int64

In [37]:
df['Birth Year'] = df['Birth Year'].astype('int')
print(df['Birth Year'].dtype)

int64

In [38]:
ages = df['Current Year'] - df['Birth Year']
df['Ages'] = ages
print(df)

       Name  Country       City  Wights  Heights    BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74     1.73  24.73        1769
1     David       UK     London      78     1.75  25.47        1985
2      John   Sweden  Stockholm      69     1.76  22.28        1990

   Current Year  Ages
0          2020   251
1          2020    35
2          2020    30

In [39]:
mean = (35+30)/2
print('Mean: ', mean)

print(df[df['Ages'] > 120])

Mean:  32.5
       Name  Country      City  Wights  Heights    BMI  Birth Year  \
0  Asabeneh  Finland  Helsinki      74     1.73  24.73        1769

   Current Year  Ages
0          2020   251

In [40]:
print(df[df['Ages'] < 120])

    Name Country       City  Wights  Heights    BMI  Birth Year  Current Year  \
1  David      UK     London      78     1.75  25.47        1985          2020
2   John  Sweden  Stockholm      69     1.76  22.28        1990          2020

   Ages
1    35
2    30